<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} To-Do App {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <h1> PLACEMENT PREDICTION </h1>
            <nav>
                <a href="{{url_for('home.home')}}">Home</a>
                <a href="{{ url_for('about.about') }}">About</a>
                <a href="{{ url_for('predict.predict') }}">Predict</a>
                <a href="{{ url_for('content.content') }}">Content</a>
                <a href="{{ url_for('developer.developer') }}">Developer</a>
            </nav>
        </div>
    </header>
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="flash {{category}}"> {{message}} </div>
            {% endfor %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; {{2026}} Placement Prediction | Machine Learning Project</p>
        </div>
    </footer>
</body>
</html>